<div class="newProductContent">
    <h1>Neues Produkt hinzuf&uuml;gen</h1>
    <form #newProductForm="ngForm">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Produktname:</mat-label>
            <input matInput type="text" [(ngModel)] = "newProductName" id="name" name="name" required>
        </mat-form-field>
    </p>
            <p>
                <mat-form-field appearance="outline">
            <mat-label>Beschreibung: </mat-label>
            <input matInput type="textarea" [(ngModel)] = "newProductDescr" id="descr" name="descr" required>
            </mat-form-field>
            </p>
            
            
            <h3>Kategorie: </h3>
            
            <div>
            <p>
                <mat-checkbox [(ngModel)]="newProductCar" value="1" name="kategorie[]" id="auto" required>Auto</mat-checkbox>
            </p>
            
            <p>
                <mat-checkbox [(ngModel)] ="newProductElek" value="1" name="kategorie[]" id="elek" required>Elektronik</mat-checkbox>
            </p>

            <p>
                <mat-checkbox [(ngModel)]="newProductHaus" value="1" name="kategorie[]" id="haus" required>Haushalt</mat-checkbox>
            </p>
            
            <p>
                <mat-checkbox [(ngModel)]="newProductAndere" value="1" name="kategorie[]" id="andere" required >Andere</mat-checkbox>
            </p>
            </div>
            
        <form>
                <h3>Foto:</h3>
                    <p><input type="file" name="file" multiple (change) ="onFileSelected($event)" required></p>
                    <p><button mat-stroked-button type="submit" (click)="onUpload()">Foto hochladen</button></p> 
        </form>
        <button mat-stroked-button type="submit" (click) = "newProduct()"[disabled]="newProductForm.invalid" *ngIf="(checkIfUpload==true)">Anzeige erstellen</button>
        </form>
</div>
<!--
<mat-form-field>
<p>
    <mat-label>Produktname:</mat-label>
    <input matInput type="text" [(ngModel)]="newProductName" id="name" name="name">
</p>
<p>
foto
    <input  type="file" name="file" multiple (change) ="onFileSelected($event)">
    <button mat-stroked-button type="submit" (click)="onUpload()">Upload</button>
</p>
<p>
        <mat-label>Beschreibung:</mat-label>
        <input matInput type="text" [(ngModel)]="newProductDescr" name="descr" id="descr">
</p>
<p>
        auto
        <input matInput type="checkbox" [(ngModel)]="newProductCar" value="1" name="car" id="car">

</p>
<p>
        <mat-label>Auto?</mat-label>
        <input  type="checkbox" [(ngModel)]="newProductElek" value="1" name="elek" id="elek">
</p>
<p>
    <label>
        Haushalt?: 
        <input type="checkbox" [(ngModel)]="newProductHaus" value="1" name="haus" id="haus">
    </label>
</p>
<p>
    <label>
        Auto?: 
        <input type="checkbox" [(ngModel)]="newProductAndere" value="1" name="andere" id="andere">
    </label>
</p>

<button type="submit" (click) = "newProduct()">Anzeige erstellen</button>
</mat-form-field>
<hr>
-->